openapi: 3.0.3
info:
  title: Süz-Geç API
  description: |
    Süz-Geç platformu için RESTful API.
    
    ## Özellikler
    - Liste Yönetimi (Eda)
    - Kullanıcı ve Karşılaştırma Modülü (Berk)
    - Stok ve Fiyat Takip Modülü (Berra)
    - JWT tabanlı kimlik doğrulama
  version: 1.0.0
  contact:
    name: Süz-Geç Geliştirme Ekibi
    email: destek@suzgec.com
  license:
    name: MIT

servers:
  - url: https://api.suzgec.com/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Development server

tags:
  - name: auth
    description: Kimlik doğrulama işlemleri (Berk)
  - name: users
    description: Kullanıcı profil işlemleri (Berk)
  - name: lists
    description: Liste yönetimi işlemleri (Eda)
  - name: products
    description: Ürün detay işlemleri (Berk)
  - name: comparisons
    description: Karşılaştırma panosu işlemleri (Berk)
  - name: stock-alerts
    description: Stok takip işlemleri (Berra)
  - name: price-alerts
    description: Fiyat alarm işlemleri (Berra)

paths:
  # --- BERK: Kullanıcı ve Karşılaştırma Modülü ---
  /auth/register:
    post:
      tags: [auth]
      summary: Üye olma
      description: Kullanıcıların yeni hesaplar oluşturarak sisteme kayıt olmasını sağlar. (Berk)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: Kayıt başarılı
        '400':
          $ref: '#/components/responses/BadRequest'

  /users/{userId}:
    get:
      tags: [users]
      summary: Profil görüntüleme
      description: Kullanıcının profil bilgilerini görüntülemesini sağlar. (Berk)
      security: [{bearerAuth: []}]
      parameters:
        - name: userId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [users]
      summary: Profil güncelleme
      description: Kullanıcının profil bilgilerini güncellemesini sağlar. (Berk)
      security: [{bearerAuth: []}]
      parameters:
        - name: userId
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Güncelleme başarılı
        '401':
          $ref: '#/components/responses/Unauthorized'

    delete:
      tags: [users]
      summary: Hesap silme
      description: Kullanıcının hesabını sistemden kalıcı olarak silmesini sağlar. (Berk)
      security: [{bearerAuth: []}]
      parameters:
        - name: userId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: Hesap silindi
        '401':
          $ref: '#/components/responses/Unauthorized'

  /products/{productId}:
    get:
      tags: [products]
      summary: Ürün detayı görüntüleme
      description: Ürüne ait resim, güncel fiyat ve marka özelliklerini detaylıca incelemeyi sağlar. (Berk)
      parameters:
        - name: productId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'

  /comparisons/items:
    post:
      tags: [comparisons]
      summary: Karşılaştırma listesine ürün ekleme
      description: Ürünü genel karşılaştırma panosuna ekler. (Berk)
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId]
              properties:
                productId: {type: string, format: uuid}
      responses:
        '201':
          description: Eklendi

  /comparisons/items/{itemId}:
    delete:
      tags: [comparisons]
      summary: Karşılaştırma listesinden ürün kaldırma
      description: Ürünü karşılaştırma panosundan çıkarır. (Berk)
      security: [{bearerAuth: []}]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: Kaldırıldı

  # --- EDA: Liste Yönetimi Modülü ---
  /lists:
    get:
      tags: [lists]
      summary: Listeleri görüntüleme
      description: Kullanıcının oluşturduğu tüm listeleri görmesini sağlar. (Eda)
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/ListSummary'}

    post:
      tags: [lists]
      summary: Liste oluşturma
      description: Gruplama için sisteme yeni bir liste ekler. (Eda)
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties: {name: {type: string}}
      responses:
        '201':
          description: Liste oluşturuldu

  /lists/{listId}:
    put:
      tags: [lists]
      summary: Liste ismi güncelleme
      description: Listenin adını veya detaylarını değiştirir. (Eda)
      security: [{bearerAuth: []}]
      parameters:
        - name: listId
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {name: {type: string}}
      responses:
        '200':
          description: Güncellendi

    delete:
      tags: [lists]
      summary: Liste silme
      description: Listeyi sistemden tamamen kaldırır. (Eda)
      security: [{bearerAuth: []}]
      parameters:
        - name: listId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: Liste silindi

  /lists/{listId}/items:
    get:
      tags: [lists]
      summary: Liste içeriği görüntüleme
      description: Listenin içindeki tüm ürünleri detaylı gösterir. (Eda)
      security: [{bearerAuth: []}]
      parameters:
        - name: listId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/ProductSummary'}

    post:
      tags: [lists]
      summary: Listeye ürün ekleme
      description: Bir ürünü mevcut bir listeye dahil eder. (Eda)
      security: [{bearerAuth: []}]
      parameters:
        - name: listId
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId]
              properties: {productId: {type: string, format: uuid}}
      responses:
        '201':
          description: Ürün eklendi

  /lists/{listId}/items/{itemId}:
    delete:
      tags: [lists]
      summary: Listeden ürün silme
      description: Belirli bir ürünü listeden çıkarır. (Eda)
      security: [{bearerAuth: []}]
      parameters:
        - name: listId
          in: path
          required: true
          schema: {type: string, format: uuid}
        - name: itemId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: Ürün çıkarıldı

  # --- BERRA: Stok ve Fiyat Takip Modülü ---
  /stock-alerts:
    get:
      tags: [stock-alerts]
      summary: Stok takip listesi görüntüleme
      description: Stok durumunu takip ettiği tüm ürünleri listeler. (Berra)
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/StockAlert'}

    post:
      tags: [stock-alerts]
      summary: Stok takibine ürün ekleme
      description: Ürün stoklara girdiğinde haberdar olmak için takibe alır. (Berra)
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId]
              properties: {productId: {type: string, format: uuid}}
      responses:
        '201':
          description: Takibe alındı

  /stock-alerts/{alertId}:
    delete:
      tags: [stock-alerts]
      summary: Stok takibinden ürün silme
      description: Ürünü stok bildirim listesinden çıkarır. (Berra)
      security: [{bearerAuth: []}]
      parameters:
        - name: alertId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: İptal edildi

  /price-alerts:
    get:
      tags: [price-alerts]
      summary: Fiyat alarmı görüntüleme
      description: Kurulmuş tüm fiyat düşüş alarmlarını listeler. (Berra)
      security: [{bearerAuth: []}]
      responses:
        '200':
          description: Başarılı
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/PriceAlert'}

    post:
      tags: [price-alerts]
      summary: Fiyat alarmı ekleme
      description: Bütçe altına düşüşte uyarı almak için alarm kurar. (Berra)
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [productId, targetPrice]
              properties:
                productId: {type: string, format: uuid}
                targetPrice: {type: number, format: float}
      responses:
        '201':
          description: Alarm kuruldu

  /price-alerts/{alertId}:
    put:
      tags: [price-alerts]
      summary: Fiyat alarmı güncelleme
      description: Hedef fiyatı veya bildirim tercihlerini değiştirir. (Berra)
      security: [{bearerAuth: []}]
      parameters:
        - name: alertId
          in: path
          required: true
          schema: {type: string, format: uuid}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetPrice: {type: number, format: float}
      responses:
        '200':
          description: Güncellendi

    delete:
      tags: [price-alerts]
      summary: Fiyat alarmı silme
      description: Fiyat alarmını iptal edip kaldırır. (Berra)
      security: [{bearerAuth: []}]
      parameters:
        - name: alertId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '204':
          description: Alarm silindi

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserRegister:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8}
        firstName: {type: string}
        lastName: {type: string}

    UserProfile:
      type: object
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        firstName: {type: string}
        lastName: {type: string}
        phone: {type: string}
        accountStatus: {type: string, enum: [active, suspended]}

    UserUpdate:
      type: object
      properties:
        firstName: {type: string}
        lastName: {type: string}
        email: {type: string, format: email}
        phone: {type: string}

    ProductDetail:
      type: object
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        brand: {type: string}
        description: {type: string}
        price: {type: number, format: float}
        imageUrl: {type: string, format: uri}
        stockStatus: {type: boolean}

    ProductSummary:
      type: object
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        price: {type: number, format: float}

    ListSummary:
      type: object
      properties:
        id: {type: string, format: uuid}
        name: {type: string}
        itemCount: {type: integer}

    StockAlert:
      type: object
      properties:
        id: {type: string, format: uuid}
        productId: {type: string, format: uuid}
        productName: {type: string}
        createdAt: {type: string, format: date-time}

    PriceAlert:
      type: object
      properties:
        id: {type: string, format: uuid}
        productId: {type: string, format: uuid}
        productName: {type: string}
        targetPrice: {type: number, format: float}
        currentPrice: {type: number, format: float}

  responses:
    BadRequest:
      description: Geçersiz istek
    Unauthorized:
      description: Yetkisiz erişim
